.products{
	font-size: 16px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.ui-card{
	width: 350px;
    height: 400px;
	background: radial-gradient(#111 50%,#000 100%);
	position: relative;
	overflow: hidden;
	transition: .5s;
	margin: 20px;
}
img{
	max-width: 100%;
	display: block;
	height: 100%;
	object-fit: cover;
}
.ui-card img{
	transform: scale(1.3);
	transition: all 0.3s ease-out;
}
.ui-card:hover img{
	transform: scale(1.1) translateY(-20px);
	opacity: .3;
} 
.description{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px;
	text-align: center;
    text-transform: capitalize;
	color: #fff;
	font-size: 18px;
	transform: translateY(20px);
	opacity: 0;
	transition:all 0.5s ease-out;
}
.description p{
	transition-delay: .2s;
}
.description h3{
	font-weight: 700;
	font-size: 32px;
	margin: 0 0 20px;
}
.amount{
    font-size: 20px;
    font-weight: 700;
}
.amount span{
    margin: 0 20px;
}
.action{
    display: flex;
    justify-content: space-between;
}
.description a, .action button{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 10px 25px;
	background: #37d72f;
	border-radius: 5px;
	transition-delay: .4s;
	transition: .5s;
}
.action button{
    font-size: 16px;
    cursor: pointer;
}
.description a:hover,.action button:hover{
	background: #1dd114;
}
.ui-card:hover .description{
	transform: translateY(0px);
	opacity: 1;
}