@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root {
    --size: 30px;
}
body {
    background: #d6d7ec;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
section {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
section header {
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    color: #001944;
}
.container {
    position: relative;
    background: #eee;
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container ul {
    position: relative;
    width: 100%;
    height: auto;
}
.container ul li {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid #777;
    list-style: none;
}
.container ul li.list span:nth-child(1) {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container ul li.list span:nth-child(3) {
    transform: translateX(-30px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container ul li.list span:nth-child(2) {
    transform: translateX(-40px);
}
.container ul li.list span:nth-child(4) {
    transform: translateX(-30px);
}
.head span {
    font-weight: 600;
}
li span .imgBx {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 20px;
}
li span .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
li:not(:first-child) span:nth-child(2) {
    font-size: 1em;
}
li:not(:first-child) span:nth-child(3) form {
    display: flex;
}
li:not(:first-child) span:nth-child(3) {
    width: fit-content;
    outline: none;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: #001944;
}
li.list span:nth-child(3) i {
    cursor: pointer;
    background: #001944;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li.list span:nth-child(3) input {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: #001944;
    border: 2px solid #777;
}
.remove {
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background: #001944;
    color: #fff;
    transition: 0.3s;
    border-radius: 20px;
}
.remove:hover {
    background: #fff;
    color: #001944;
    border: 1px solid #001944;
}
.visit {
    position: relative;
    padding: 15px 30px;
}
.visit h4 {
    font-size: 2em;
    font-weight: 600;
    color: #001944;
}
li.tail {
    border-bottom: none;
}
.tail div {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.tail div span:nth-child(2) {
    display: flex;
    align-items: center;
    border: 3px solid #001944;
    padding: 0 25px;
    gap: 20px;
}
.tail div span:nth-child(2) h4 {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}
.tail div span:nth-child(2) p {
    font-size: 1em;
    font-weight: 700;
    color: #777;
}
.desc{
    white-space: normal;
}
.btn {
    position: relative;
    width: 200px;
    height: 60px;
    white-space: nowrap;
    background: #28272a;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    letter-spacing: 2px;
    padding-left: 40px;
    transition: 0.5s;
    overflow: hidden;
    border-top: 0.5px solid rgba(255, 255, 255, 0.35);
    border-left: 0.5px solid rgba(255, 255, 255, 0.35);
}
.btn:hover {
    padding-left: 0px;
    color: rgba(255, 255, 255, 1);
    padding-right: 40px;
}
.btn span {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    color: #1a191d;
    transition: 0.5s ease-in-out;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover span {
    left: calc(100% - 55px);
}
.btn::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 100%;
    z-index: 1;
    transition: 0.75s ease-in-out;
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(-170px) skewX(30deg);
}
.btn:hover::after {
    transform: translateX(170px) skewX(30deg);
}
.discount {
    position: relative;
    width: auto;
}
.discount h5 {
    font-size: 1em;
    margin-bottom: 8px;
    font-weight: 600;
    color: #001944;
    text-transform: capitalize;
}
.discount form {
    display: flex;
}
.discount input {
    width: 100%;
    height: 45px;
    outline: none;
    border: 2px solid #001944;
    padding: 0 20px;
    font-size: 1em;
    font-weight: 600;
    color: #777;
}
.discount button {
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #001944;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}
@media (max-width: 991px) {
    section {
        padding: 40px 50px;
    }
}
@media (max-width: 800px) {
    .tail div span:nth-child(1) {
        width: 30% !important;
    }
    .container ul li.list span:nth-child(1) {
        gap: 10px;
    }
}
@media (max-width: 700px) {
    .discount h5 {
        font-size: 0.8em;
    }
    div.discount {
        flex-direction: column !important;
    }
    li span .imgBx {
        max-width: 60px;
        max-height: 60px;
    }
    .container ul li.list span:nth-child(2),
    .container ul li.list span:nth-child(3),
    .container ul li.list span:nth-child(4) {
        transform: translateX(-20px);
    }
}
@media screen and (max-width: 767px) {
    section {
        padding: 20px; /* Adjust the padding to make it more compact */
    }

    section header {
        font-size: 1.5em; /* Reduce the font size for smaller screens */
    }

    .container ul li.discount {
        flex-direction: column; /* Stack the elements vertically on small screens */
        padding: 20px; /* Adjust the padding for a more compact layout */
        gap: 10px; /* Adjust the gap between the elements */
    }
    .container ul li.discount .coupon_code {
        width: 80%;
    }
    .container ul li {
        padding: 10px 20px;
    }
}
@media (max-width: 550px) {
    section {
        padding: 10px;
    }
    .container ul li.list span:nth-child(1) {
        gap: 5px;
    }
    li.list span:nth-child(3) input,
    li.list span:nth-child(3) i {
        width: var(--size);
        height: var(--size);
    }
    .tail div span:nth-child(2) {
        padding: 0 15px;
        gap: 10px;
    }
}
@media (max-width: 440px) {
    .tail div {
        flex-direction: column;
        gap: 10px;
    }
    .tail div span:nth-child(2) {
        width: 200px;
    }
    .container ul li.list span:nth-child(1) {
        flex-direction: column;
    }
    .container ul li.list span:nth-child(2),
    .container ul li.list span:nth-child(3),
    .container ul li.list span:nth-child(4) {
        transform: translateX(14px);
    }
    .remove {
        padding: 7px 13px;
    }
}
@media (max-width: 400px) {
    .container ul li.discount .coupon_code {
        width: 100%;
    }
}