.cover{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #37d72f, #e5e5f7),
        repeating-radial-gradient(
            circle at center center,
            #37d72f,
            #37d72f,
            10px,
            transparent 20px,
            transparent 10px
        );
    background-blend-mode: multiply;
    animation: bg 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes bg {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}