*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background:#D6D7EC;
}
.content .left,.content .right{
    position: relative;
    min-height: 550px;
}
.content .title{
    background: #E7E8E8;
    font-size: 1.2em;
    padding:5px 10px;
}
.content .chanBx{
    position:relative;
    margin: 20px;
}
.chanBx h5{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}
.chanBx .chan{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.chanBx .chan .inputBx{
    position: relative;
    margin-bottom: 10px;
}
@media (max-width: 991px){
    .content form{
        flex-wrap: wrap;
    }
    .content .left,.content .right{
        width: 100% !important;
    }
}
@media (max-width: 420px){
    .chanBx .chan{
        grid-template-columns: repeat(1,1fr);
    }
}