*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(-30deg, #37d72f 0%, #37d72f 50%, white 50%, white 100%);
    filter: hue-rotate(120deg);    
    transition:0.5s;
}