* {
    margin: 0;
    padding: 0;
}
.body {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #37d72f;
    overflow: hidden;
    transition: 0.5s;
}
.body .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/image/wave.png);
    background-size: 1000px 100px;
}
.body .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20;
}
.glass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 90vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-top: 0.25px solid rgba(255, 255, 255, 0.5);
    border-left: 0.25px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    display: flex;
    gap: 30px;
    align-items: center;
    overflow: hidden;
}
.navigation {
    position: relative;
    width: 70px;
    height: 100%;
    background: #fff;
    border-radius: 35px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #333;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    transition: 0.5s;
}
.navigation ul li a .icon i {
    font-size: 24px;
}
.navigation ul li.active a .icon {
    color: #fff;
}
.navigation ul li a .title {
    position: absolute;
    top: 50%;
    left: 110px;
    background: #fff;
    transform: translateY(-50%);
    padding: 5px 10px;
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
}
.navigation ul li:hover a .title {
    opacity: 1;
    visibility: visible;
    transform: translateX(-25px) translateY(-50%);
}
.navigation ul li a .title::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background: #fff;
    left: -8px;
    top: 46%;
    transform: rotate(45deg) translateY(-50%);
    border-radius: 2px;
}
.navigation ul .indicator {
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    transition: 0.5s;
}
.navigation ul .indicator::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
    transition: 0.5s;
}
.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateY(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateY(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateY(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateY(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateY(calc(70px * 4));
}
.navigation ul li:nth-child(1).active ~ .indicator::before {
    background: #37d72f;
}
.navigation ul li:nth-child(2).active ~ .indicator::before {
    background: #3c40c6;
}
.navigation ul li:nth-child(3).active ~ .indicator::before {
    background: #f53b57;
}
.navigation ul li:nth-child(4).active ~ .indicator::before {
    background: #0fbcf9;
}
.navigation ul li:nth-child(5).active ~ .indicator::before {
    background: #ffa801;
}
.container {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 100%;
}
.container .left {
    width: 70%;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
}
.container .right{
    background: #fff;
    width: 30%;
    position: relative;
}
.container .right .card {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 35px 35px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .right .card .profile {
   position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.container .right .card .profile img {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
}
.container .content{
    position: relative;
    text-align: center;
    padding: 5px 0;
    color: #333;
}
.container .content h2 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 7px;
}
.right .box {
    position: absolute;
    bottom: 0;
    padding: 7px;
    width: auto;
    max-width: 300px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.left .title span {
    font-style: italic;
}
.container .contactForm {
    position: relative;
    width: 90%;
    height: 100%;
    background:#fff;
    padding: 70px 50px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}
.container .contactForm h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}
.container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.container .contactForm .formBox .inputBox {
  position: relative;
  margin-bottom: 35px;
}
.container .contactForm .formBox .inputBox.w50 {
  width: 47%;
}
.container .contactForm .formBox .inputBox.w100 {
  width: 100%;
}
.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  resize: none;
  outline: none;
  border-bottom: 1px solid #777;
}
.container .contactForm .formBox .inputBox textarea {
  height: 120px;
}
.container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}
.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:not(:placeholder-shown) ~ span,
.container .contactForm .formBox .inputBox textarea:focus ~ span,
.container .contactForm .formBox .inputBox textarea:not(:placeholder-shown) ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #095a55;
}
.container .contactForm .formBox .inputBox input[type="submit"],.container .contactForm .formBox .inputBox input[type="button"]  {
  position: relative;
  cursor: pointer;
  background: #095a55;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}
.container .contactForm .formBox .inputBox input[type="submit"]:hover,.container .contactForm .formBox .inputBox input[type="button"]:hover {
  background: #0d948b;
}
@media (max-width: 991px) {
    .container {
        flex-direction:column;
        justify-content: unset;
        margin-left: 10px;
    }
    .container .left, .container .right {
        width: 100%;
    }
    .container .left{
        height:65%;
    }
    .container .right {
        height:35%;
        display:flex;
    }
    .container .contactForm{
        padding:50px;
    }
    .glass{
        gap:0px;
    }
    .navigation{
        width:80px;
    }
    .right .box {
        right:0;
    }
    .cover{
        position: relative;
        margin-left: 50px;
    }
}

@media (max-width: 830px) {
    .container .right {
      height: auto;
      display: flex;
      flex-direction: column;
      transform:translateY(-60px);
      align-items: center;
    }
  
    .right .box {
      position: relative;
      left: auto;
      top: auto;
      box-shadow: none;
      transform: none;
    }
  }
@media (max-width: 600px){
    .container .contactForm{
        padding: 25px;
    }
    .container .contactForm .formBox .inputBox.w50{
        width: 100%;
    }
   
}
