@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}
body {
    min-height: 200vh;
}
.banner {
    position: relative;
    background: #262626;
    height: 100vh;
    padding:0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background: #37d72f;
    transform-origin: top;
    transform: skewX(-25deg);
    z-index: 1;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span{
    color: #37d72f;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx{
    position: relative;
    width: 100%;
    height: 100%;
    /*min-height: 300px;*/
}
.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 50px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.icon {
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
ul {
    display: flex;
}
ul li {
    list-style: none;
}
ul li a {
    position: relative;
    padding: 5px 20px;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
}
.icon ul li a {
    color: #333;
}
ul li a span {
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--i));
}
ul li a span:nth-child(2) {
    position: absolute;
    transform: translateY(35px);
    font-size: 1.6em;
}
.icon ul li a span:nth-child(1) {
    transform: translateY(-30px);
}
.icon ul li a span:nth-child(2) {
    transform: translateY(2px);
}
ul li:hover a span:nth-child(2) {
    color: #37d72f;
}
.brand {
    position: relative;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    overflow: hidden;
}
.brand span {
    transition: 0.5s;
    display: block;
}
.brand span:nth-child(1) {
    position: absolute;
    transform: translateY(-80px);
    font-size: 1.5em;
}
.icon .brand span:nth-child(1) {
    transform: translateY(-5px);
    color: #fff;
}
.icon .brand span:nth-child(2) {
    transform: translateY(35px);
}
.banner .textBox{
    position: relative;
    max-width: 600px;
    z-index: 2;
    color: #fff;
}
.banner .textBox h2{
    font-size: 3em;
}
.banner .textBox p{
    font-size: 1.1em;
    margin: 5px 0 25px;
}
.banner .textBox a{
    position: relative;
    display: inline-block;
    background: #fff;
    color: #111;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.banner .imgBox{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 2;
}
.banner .imgBox img{
    position: absolute;
    bottom: 0;
    height: 90%;
    z-index: 10;
}
@media (max-width: 991px) {
    nav {
        background: #444;
    }
    ul {
        display: none;
    }
    nav.active ul {
        width: 100%;
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #444;
    }
    nav.icon.active ul {
        background: #fff;
    }
    header nav.active ul li {
        border-bottom: 1px solid #888;
    }
    header nav.active ul li a {
        align-items: start;
        margin-left: 35px;
        flex-direction: row;
        justify-content: space-between;
    }
    ul li a span:nth-child(2) {
        position: relative;
        transform: translateX(-35px);
        font-size: 1.5em;
    }
    .icon ul li a span:nth-child(1) {
        transform: translateY(0px);
    }
    .icon ul li a span:nth-child(2) {
        transform: translateX(-35px);
    }
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3em;
    }
    .row{
        flex-direction: column;
    }
    .row .col50{
        width: 100%;
    }
    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(/image/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        filter: invert(0);
    }
    .icon .menuToggle {
        filter: invert(1);
    }
    .menuToggle.active {
        background: url(/image/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
}
